.shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--bg-0);
  border-radius: 8px;
}

.shell-body {
  flex: 1;
  display: flex;
  overflow: hidden;
  min-height: 0;
}

.shell-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}

.shell-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

.shell-content {
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}
